@page
@model TorneoDepartamental.App.Frontend.Pages.Municipios.EditModel
@{
}
<h1>Editar Municipio</h1>
<form method="post">
    <input type="hidden" asp-for="municipio.Id">
    <div class="form-group">
        <label asp-for="municipio.Nombre"></label>
        <input asp-for="municipio.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="municipio.Nombre"></span>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
<a class="btn btn-primary" asp-page="./Index">Volver</a>