@page
@model TorneoDepartamental.App.Frontend.Pages.Estadios.IndexModel
@{
}
<h1>Lista de Estadios</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>

        </tr>
    </thead>
    </tbody>
    @foreach (var estadio in Model.estadios)
    {
        <tr>
            <td>@estadio.Id</td>
            <td>@estadio.Nombre</td>

        </tr>

    }

    </tbody>

</table>
