@page
@model TorneoDepartamental.App.Frontend.Pages.NovedadPartido.CreateModel
@{
}
<h1>Crear Novedad Partido</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="novPartido.MinutoPartido"></label>
        <input asp-for="novPartido.MinutoPartido" class="form-control">
        <span class="text-danger" asp-validation-for="novPartido.MinutoPartido"></span>
    </div>
    <div class="form-group">
        <label asp-for="novPartido.Tarjeta"></label>
        <input asp-for="novPartido.Tarjeta" class="form-control">
        <span class="text-danger" asp-validation-for="novPartido.Tarjeta"></span>
    </div>
    <div class="form-group">
        <label asp-for="novPartido.Gol"></label>
        <input asp-for="novPartido.Gol" class="form-control">
        <span class="text-danger" asp-validation-for="novPartido.Gol"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear Novedad Partido</button>
</form>
<a class="btn btn-primary" asp-page="./Index">Volver</a>
