@page
@model TorneoDepartamental.App.Frontend.Pages.DirectoresTecnicos.IndexModel
@{
}
<h1>Lista de Directores tecnicos</h1>
<a class="btn btn-primary" asp-page=./Create>Nuevo Director Tecnico</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    </tbody>
        @foreach (var tecnico in Model.directorTecnicos)
        {
            <tr>
                <td>@tecnico.Id</td>
                <td>@tecnico.Nombre</td>
                 <td><a class="btn btn-primary" asp-page="./Details" asp-route-id="@tecnico.Id">Detalles</a></td>
                 <td><a class="btn btn-primary" asp-page="./Edit" asp-route-id="@tecnico.Id">Editar</a></td>
            </tr>
            
        }
    </tbody>
</table>
