@page
@model TorneoDepartamental.App.Frontend.Pages.DirectoresTecnicos.IndexModel
@{
}
<h1>Listado de Directores Tecnicos</h1>
<a class="btn btn-primary" asp-page="./Create">Nuevo Director Tecnico</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tecnico in Model.DirectorTecnicos)
        {
            <tr>
                <td>@tecnico.Id</td>
                <td>@tecnico.Nombre</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@tecnico.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@tecnico.Id">Editar</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>